.features{
    
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
     border-radius: 5%;
     //height: 200px;
    // background-color: goldenrod;
    // align-content: space-around;
    .top{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        .title{
            font-weight: bold;
            color: gray;
        }
        .icon{
            font-size: smaller;
            cursor: pointer;
            color: gray;
        }

        
    }
    .middle{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .progresschart{

            .CircularProgressbar-path {
                stroke: green;
              }

        }
        .caption{
            font-weight:lighter;
            font-size:large;
            
        }
        .price{
            font-weight: bold;
        }
        .detail{
            font-size: smaller;
            font-weight: lighter;
        }
    }
    .Bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
        .target, .week, .month{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: large;
            font-weight: lighter;

            .tarvalue.green{
                color: green;
                font-weight: bold;
            }
            .tarvalue.red{
                color: red;
                font-weight: bold;
            }
        }
    }

}